h1 {
    font-family: 'Smooch Sans', sans-serif;
    color: #8A2BE2;
    text-align: center;
    margin: 40px;
    font-size: 66px;
}

label {
    font-family: 'Smooch Sans', sans-serif;
    color: #FFFF00;
    font-size: 30px;
    font-weight: bold;
}

form { 
    text-align: center;
}

#button {
    background-color: #8A2BE2;
    margin: 5px;
    transition-duration: 0.4s;
    font: 'Smooch Sans', sans-serif;
}




